# Configuration file for gptgodmc
# Make sure you update this before running!

# your OpenAi API key from https://platform.openai.com/api-keys
# the plugin won't work without this

openAiKey: ""

# language in ISO-639 format https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes
language: de

# if set to true:
# - When players die they are put in spectator mode
# - When everyone dies the map is reset
# This is the intended way to play
# only set to false for testing and debugging
Rounds: true

# the world the server will load on starting
# worlds are stored in plugins/gptgodmc/worlds
# if empty or invalid the Round System won't work
startingWorld: "island"

# name of the gpt model to use
# can be found here: https://openai.com/api/pricing/
gpt-model-name: gpt-4o

# gpt model token limit
gpt-model-token-limit: 100000

# whether or not the mod will make calls to GPT
enabled: true

# The gamemode, here are the current options:
# this is case sensitive
#[SANDBOX, DEATHMATCH]
gamemode: SANDBOX



# The potential behaviors to be given to GPT. A specified amount will be chosen to either be liked, or disliked.
potentialBehaviors: ["killing animals",
                     "fighting other players",
                     "slaying monsters",
                     "using hostile language",
                     "using vulgar language",
                     "using friendly language",
                     "building structures of worship",
                     "building non-religious structures",
                     "materialistic wants",
                     "helping other players",
                     "connecting with animals",
                     "growing plants",
                     "using fire and explosions",
                     "love between players",
                     "sexual behaviour",
                     "generosity",
                     "ritual sacrifice",
                     "eating meat"]

# X behaviors will be selected as disliked/liked.
# A behavior cannot be both liked and disliked, nor can there be duplicates.
# The total required behaviors must be equal to or less than the amount of potential behaviors.

likedBehaviors: 3
dislikedBehaviors: 3


# How long the objectives given by GPT last
# (in minutes)
objectiveDecay: 6

# the amount of time that will pass between calls to ChatGPT (in seconds)
# can't be less that 1 second
# I really don't reccomend going lower than 20
# default 40
rate: 40

# The voice used by the TTS
# https://platform.openai.com/docs/guides/text-to-speech/voice-options
voice: onyx

# use AI Text to Speech voice for god (uses OpenAI and will cost a bit more money)
tts: true
